<%- include('templates/header'); %>
<div class="container">
    <div class="row">
      <div class="col-12 d-flex flex-column justify-content-center align-items-center text-center">
        <h1 class="display-1">404</h1>
        <h2 class="display-4">You Are Not A Admin</h2>
        <p class="lead">Only admins and specified users have acces to this page.</p>
        <div class="mt-4">
          <a href="/" class="btn btn-primary btn-lg">Go Back to Home</a>
        </div>
      </div>
    </div>
  </div>



<!-- <h1>Not A Admin</h1>
<button href="/members">Go Back to Member's page</button> -->
<%- include("templates/footer") %> 