<%- include('templates/header'); %>
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center m-5">Hello <%= name %></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-4 mb-4">
      <img src="/img1.jpeg" alt="Image 1" class="img-fluid rounded">
    </div>
    <div class="col-12 col-md-4 mb-4">
      <img src="/img2.jpg" alt="Image 2" class="img-fluid rounded">
    </div>
    <div class="col-12 col-md-4 mb-4">
      <img src="/img3.jpg" alt="Image 3" class="img-fluid rounded">
    </div>
  </div>
  <div class="text-center mb-3">
    <a href="/logout" class="btn btn-danger">Logout</a>
  </div>
</div>
<%- include("templates/footer") %> 